<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852966454219-kvc6g3af0cmsa74faes1afe23noa7vv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852966454219-kvc6g3af0cmsa74faes1afe23noa7vv8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEoQ-ONFSBTUXsPKf6sOCH-6G6fn0h7AA</string>
	<key>GCM_SENDER_ID</key>
	<string>852966454219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambertigem.microq</string>
	<key>PROJECT_ID</key>
	<string>micro-q</string>
	<key>STORAGE_BUCKET</key>
	<string>micro-q.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852966454219:ios:1efeca6980c17eae773c4e</string>
</dict>
</plist>